<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h2>这是ejs的后台模版</h2>
	<h2><%=msg%></h2>
	<br>
	<hr>
	<ul>
		<% for(var i=0;i<list.length;i++){ %>
		<li><%=list[i]%></li>
		<% }%>
	</ul>
</body>
</html>